 {% extends "base.html" %}

 {% block content %}

 <!-- [ Main Content ] start -->
 <div class="pc-container">
  <div class="pc-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="page-header-title">
          <h5 class="mb-0 font-medium">User</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard/user/">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
          <li class="breadcrumb-item" aria-current="page">User</li>
        </ul>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->

    <!-- [ Main Content ] start -->
    <div class="grid grid-cols-12 gap-x-6">
      <div class="col-span-12 xl:col-span-4 md:col-span-6">
        <div class="card">
          <div class="card-header !pb-0 !border-b-0">
            <h5>Total Reports</h5>
          </div>
          <div class="card-body">
            <div class="flex items-center justify-between gap-3 flex-wrap">
              <h3 class="font-light flex items-center mb-0">
                <i class="feather icon-layers text-blue-500 text-[30px] mr-1.5"></i>
                {{ total_cases }}
              </h3>
              <!-- <p class="mb-0">67%</p> -->
            </div>
            <!-- <div class="w-full bg-theme-bodybg rounded-lg h-1.5 mt-6 dark:bg-themedark-bodybg"> -->
              <!-- <div class="bg-theme-bg-1 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]" role="progressbar" -->
                <!-- style="width: 75%"></div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-4 md:col-span-6">
        <div class="card">
          <div class="card-header !pb-0 !border-b-0">
            <h5>Resolved cases</h5>
          </div>
          <div class="card-body">
            <div class="flex items-center justify-between gap-3 flex-wrap">
              <h3 class="font-light flex items-center mb-0">
                <i class="feather icon-trending-up text-success-500 text-[30px] mr-1.5"></i>
                {{ resolved_cases }}
              </h3>
              <!-- <p class="mb-0">36%</p> -->
            <!-- </div> -->
            <!-- <div class="w-full bg-theme-bodybg rounded-lg h-1.5 mt-6 dark:bg-themedark-bodybg">
              <div class="bg-theme-bg-2 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]" role="progressbar"
                style="width: 35%"></div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-4">
        <div class="card">
          <div class="card-header !pb-0 !border-b-0">
            <h5>Pending Reports</h5>
          </div>
          <div class="card-body">
            <div class="flex items-center justify-between gap-3 flex-wrap">
              <h3 class="font-light flex items-center mb-0">
                <i class="feather icon-trending-down text-danger-500 text-[30px] mr-1.5"></i>
                {{ unresolved_cases }}
              </h3>
              <!-- <p class="mb-0">80%</p> -->
            <!-- </div>
              <div class="w-full bg-theme-bodybg rounded-lg h-1.5 mt-6 dark:bg-themedark-bodybg">
              <div class="bg-theme-bg-1 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]" role="progressbar"
                style="width: 80%"></div> -->
            </div> 
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-4">
        <div class="card card-social">
          <div class="card-body border-b border-theme-border dark:border-themedark-border">
            <div class="flex items-center justify-center">
              <div class="shrink-0">
                {% comment %} <i class="fab fa-facebook text-primary-500 text-[36px]"></i> {% endcomment %}
                 <h3>Weekly</h3>
                 <h3>Quiz</h3>
              </div>
              <div class="grow ltr:text-right rtl:text-left">
                <!-- <h3 class="mb-2">20</h3> -->
                <h3 class="text-success-500 mb-0"> {{ quiz_marks }} </h3>
                  <h5><span class="text-muted">Points</span></h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="grid grid-cols-12 gap-x-6">
              <div class="col-span-6">
                <h6 class="text-center mb-2.5"><span class="text-muted m-r-5">Score:</span> {{ score_percentage }}%</h6>
                <div class="w-full bg-theme-bodybg rounded-lg h-1.5 dark:bg-themedark-bodybg">
                  <div class="bg-theme-bg-1 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]" role="progressbar" style="width: {{ score_percentage }}%"></div>
                </div>
              </div>
              <div class="col-span-6">
                <h6 class="text-center mb-2.5"><span class="text-muted m-r-5">Quizzes:</span> {{ total_quizzes }}</h6>
                <div class="w-full bg-theme-bodybg rounded-lg h-1.5 dark:bg-themedark-bodybg">
                  <div class="bg-theme-bg-2 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]" role="progressbar" style="width: 100%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-4 md:col-span-6">
        <div class="card card-social">
          <div class="card-body border-b border-theme-border dark:border-themedark-border">
            <div class="flex items-center justify-center">
              <div class="shrink-0">
                <!-- <i class="fab fa-twitter text-primary-500 text-[36px]"></i> -->
                 <h3>Awareness</h3> 
                  <h3>Insight</h3>
              </div>
              <div class="grow ltr:text-right rtl:text-left">
                <h3 class="text-green-500 mb-0">115m</h3>
                <h5 class="text-green-500 mb-0"><span class="text-muted">Screen-time</span></h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="grid grid-cols-12 gap-x-6">
              <div class="col-span-6">
                <h6 class="text-center mb-2.5"><span class="text-muted m-r-5">Balance:</span>185m</h6>
                <div class="w-full bg-theme-bodybg rounded-lg h-1.5 dark:bg-themedark-bodybg">
                  <div class="bg-success-500 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]" role="progressbar" style="width: 38%"></div>
                </div>
              </div>
              <div class="col-span-6">
                <h6 class="text-center mb-2.5"><span class="text-muted m-r-5">Average Time:</span>20m</h6>
                <div class="w-full bg-theme-bodybg rounded-lg h-1.5 dark:bg-themedark-bodybg">
                  <div class="bg-primary-500 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]" role="progressbar" style="width: 40%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-4 md:col-span-6">
        <div class="card card-social">
          <div class="card-body border-b border-theme-border dark:border-themedark-border">
            <div class="flex items-center justify-center">
              <div class="shrink-0">
                <!-- <i class="fab fa-google-plus-g text-danger-500 text-[36px]"></i> -->
                 <h3 class="text-red-500 mb-0">
                  <i class="feather icon-phone text-danger-500 text-[30px] mr-1.5"></i>
                  Help-Line</h3>
              </div>
              <div class="grow ltr:text-right rtl:text-left">
                <!-- <h3 class="text-red-500 mb-4">112</h3> -->
                <h3 class="text-500 mb-2"><span class="text-muted"></span></h3>
                <h4 class="text-green-500 mb-2">1800-11-0031<span class="text-muted"></span></h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="grid grid-cols-12 gap-x-6">
              <div class="col-span-6">
                <h6 class="text-center mb-2.5"><span class="text-blue-500 m-r-5">Counselor(M):</span></h6>
                <h6 class="text-center mb-2.5">+91 9870984567</h6>
                <!-- <div class="w-full bg-theme-bodybg rounded-lg h-1.5 dark:bg-themedark-bodybg">
                  <div class="bg-theme-bg-1 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]" role="progressbar" style="width: 80%"></div>
                </div> -->
              </div>
              <div class="col-span-6">
                <h6 class="text-center mb-2.5"><span class="text-blue-500 m-r-5">Counselor(F):</span></h6>
                <h6 class="text-center mb-2.5">+91 8790654670</h6>
                <!-- <div class="w-full bg-theme-bodybg rounded-lg h-1.5 dark:bg-themedark-bodybg">
                  <div class="bg-theme-bg-2 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]" role="progressbar" style="width: 50%"></div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div> 
      <!-- <div class="col-span-12 xl:col-span-4 md:col-span-6">
        <div class="card user-list">
          <div class="card-header">
            <h5>Rating</h5>
          </div>
          <div class="card-body">
            <div class="flex items-center justify-between gap-1 mb-5">
              <h2 class="font-light flex items-center m-0">
                4.7
                <i class="fas fa-star text-[10px] ml-2.5 text-warning-500"></i>
              </h2>
              <h6 class="flex items-center m-0">
                0.4
                <i class="fas fa-caret-up text-success text-[22px] ml-2.5"></i>
              </h6>
            </div>

            <div class="flex items-center justify-between gap-2 mb-2">
              <h6 class="flex items-center gap-1">
                <i class="fas fa-star text-[10px] mr-2.5 text-warning-500"></i>
                5
              </h6>
              <h6>384</h6>
            </div>
            <div class="w-full bg-theme-bodybg rounded-lg h-1.5 mb-6 mt-3 dark:bg-themedark-bodybg">
              <div
                class="bg-theme-bg-1 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]"
                role="progressbar"
                style="width: 70%"
              ></div>
            </div>

            <div class="flex items-center justify-between gap-2 mb-2">
              <h6 class="flex items-center gap-1">
                <i class="fas fa-star text-[10px] mr-2.5 text-warning-500"></i>
                4
              </h6>
              <h6>145</h6>
            </div>
            <div class="w-full bg-theme-bodybg rounded-lg h-1.5 mb-6 mt-3 dark:bg-themedark-bodybg">
              <div
                class="bg-theme-bg-1 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]"
                role="progressbar"
                style="width: 35%"
              ></div>
            </div>

            <div class="flex items-center justify-between gap-2 mb-2">
              <h6 class="flex items-center gap-1">
                <i class="fas fa-star text-[10px] mr-2.5 text-warning-500"></i>
                3
              </h6>
              <h6>24</h6>
            </div>
            <div class="w-full bg-theme-bodybg rounded-lg h-1.5 mb-6 mt-3 dark:bg-themedark-bodybg">
              <div
                class="bg-theme-bg-1 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]"
                role="progressbar"
                style="width: 25%"
              ></div>
            </div>

            <div class="flex items-center justify-between gap-2 mb-2">
              <h6 class="flex items-center gap-1">
                <i class="fas fa-star text-[10px] mr-2.5 text-warning-500"></i>
                2
              </h6>
              <h6>1</h6>
            </div>
            <div class="w-full bg-theme-bodybg rounded-lg h-1.5 mb-6 mt-3 dark:bg-themedark-bodybg">
              <div
                class="bg-theme-bg-1 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]"
                role="progressbar"
                style="width: 10%"
              ></div>
            </div>

            <div class="flex items-center justify-between gap-2 mb-2">
              <h6 class="flex items-center gap-1">
                <i class="fas fa-star text-[10px] mr-2.5 text-warning-500"></i>
                1
              </h6>
              <h6>0</h6>
            </div>
            <div class="w-full bg-theme-bodybg rounded-lg h-1.5 mt-4 dark:bg-themedark-bodybg">
              <div
                class="bg-theme-bg-1 h-full rounded-lg shadow-[0_10px_20px_0_rgba(0,0,0,0.3)]"
                role="progressbar"
                style="width: 0%"
              ></div>
            </div>
          </div>
        </div>
      </div> -->
      
      <div class="col-span-12 xl:col-span-12 md:col-span-12">
        <div class="card table-card">
          <div class="card-header">
            <h5>Awarness Posts</h5>
          </div>
          <div >
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                  {% for post in awareness_posts %}
                  <tr class="unread">
                    <td>
                      <img class="rounded-full max-w-10" style="width: 40px" src="{{ post.image.url }}" alt="activity-user" />
                    </td>
                    <td>
                      <h6 class="mb-1">{{ post.title }}</h6>
                      <p class="m-0">{{ post.content | truncatewords:15 }}</p>
                    </td>
                    <td>
                      <h6 class="text-muted">
                        <i class="fas fa-circle text-success text-[10px] ltr:mr-4 rtl:ml-4"></i>
                        {{ post.created_at|date:"M d , Y" }}
                      </h6>
                    </td>
                    <td>
                      <a href="{% url 'view_post_details' 'awareness' post.id %}" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">View</a>
                    </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="4" class="text-center">
                      <a href="{% url 'view_awareness_posts' %}" class="btn btn-primary">View All</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-span-12 xl:col-span-12 md:col-span-12">
        <div class="card table-card">
          <div class="card-header">
            <h5>News Posts</h5>
          </div>
          <div>
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                  {% for post in news_posts %}
                  <tr class="unread">
                    <td>
                      <img class="rounded-full max-w-10" style="width: 40px" src="{{ post.image.url }}" alt="activity-user" />
                    </td>
                    <td>
                      <h6 class="mb-1">{{ post.title }}</h6>
                      <p class="m-0">{{ post.content | truncatewords:15 }}</p>
                    </td>
                    <td>
                      <h6 class="text-muted">
                        <i class="fas fa-circle text-success text-[10px] ltr:mr-4 rtl:ml-4"></i>
                        {{ post.created_at|date:"M d , Y" }}
                      </h6>
                    </td>
                    <td>
                      <a href="{% url 'view_post_details' 'news' post.id %}" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">View</a>
                    </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="4" class="text-center">
                      <a href="{% url 'view_news_posts' %}" class="btn btn-primary">View All</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-12 xl:col-span-12 md:col-span-12">
        <div class="card table-card">
          <div class="card-header">
            <h5>Recovery Tips</h5>
          </div>
          <div >
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                  {% for post in recovery_tips %}
                  <tr class="unread">
                    <td>
                      <img class="rounded-full max-w-10" style="width: 40px" src="{{ post.image.url }}" alt="activity-user" />
                    </td>
                    <td>
                      <h6 class="mb-1">{{ post.title }}</h6>
                      <p class="m-0">{{ post.content | truncatewords:15 }}</p>
                    </td>
                    <td>
                      <h6 class="text-muted">
                        <i class="fas fa-circle text-success text-[10px] ltr:mr-4 rtl:ml-4"></i>
                        {{ post.created_at|date:"M d , Y" }}
                      </h6>
                    </td>
                    <td>
                      <a href="{% url 'view_post_details' 'recovery' post.id %}" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">View</a>
                    </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="4" class="text-center">
                      <a href="{% url 'view_recovery_tips' %}" class="btn btn-primary">View All</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

{% endblock %}