{% extends 'base.html' %}
{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pc-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                <div class="page-header-title">
                    <h5 class="mb-0 font-medium">Counsellor</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../dashboard/index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item" aria-current="page">Counsellor</li>
                </ul>
            </div>
        </div>
    </div>
      <!-- [ breadcrumb ] end -->
    <h1 style="text-align:center;font-size:18px;">
        You are not Verified , Please wait until Admin verifies you ...
    </h1><br>
    <h2 style="text-align:center;font-size:16px;">
        Come after some time.
    </h2>

{% endblock %}